body{
    font-family: Roboto;
    text-align: center;
    background-color: black;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#setTime{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap : 70px;
     background-color: #34344a;
     padding : 5px 20px;
     border-radius: 10px;
     margin-bottom: 20px;
}

#heading{
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: center;

}

#setTime>p{
    font-family: Roboto;
   font-size: 24px;
   font-weight: 500;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;

}

#setTime>button{
    background: #F0F757;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
}
#currentTimer{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #39393e;
    padding : 20px 15px;
    border-radius: 50px;
    margin-top: 30px;
     
}

#noTimer{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
}

input{
    width :40px;
    background-color:#34344a;
    border: none;
    color : white;
}

::placeholder{
    color : white;
    font-family: Roboto;
   font-size: 20px;
   font-weight: 500;
   line-height: 56px;
   letter-spacing: 0em;
   text-align: center;
   text-decoration: underline;
   
}
#set:focus{
    scale :1.1;
}

#displayTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    background-color: #34344a;
    padding : 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.deleteButton{
    background: #F0F757;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
}

#timerDisplay>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 100px;
    background-color: #34344a;
    padding : 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#timerDisplay>div>p{
    font-family: Roboto;
   font-size: 24px;
   font-weight: 500;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
}

#timerUp{
    background-color: #F0F757;
    color : black;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    padding : 10px 35px;  
    border-radius: 10px;  
    margin :8px 10px;
}
#stop{
    background-color: #39393e;
    color : white;
    padding : 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    padding : 5px 10px;
     margin-left : 130px; 
    text-align: center;
    border-radius: 50px;
}

@media screen and (max-width : 500px){
     #heading{
        font-size : 20px;
     }
     #setTime>p{
        font-size: 15px;
     }
     ::placeholder{
        font-size: 10px;
     }
     input{
        width : 20px;
     }
     #currentTimer{
        font-size: 13px;
        line-height: 1px;
        margin-top: 0px;
     }
     #timerDisplay>div>p{
        font-size: 15px;
        gap : 10px;
     }
     #timerDisplay>div{
        gap : 10px;
     }
     #timerUp{
        font-size: 20px;
        padding : 10px;
        line-height: 20px;
     }
     #stop{
        margin-left: 80px;
     }
     #setTime{
        gap : 10px;
     }
}